<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="pt-5 pb-5 bg-dark inner-header">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="mt-0 mb-3 text-white">Video Rating Site</h1>

		</div>
	</div>
</div>
</section>
